* {
  box-sizing: border-box;
}

body {

  margin: 0;
  font-size: 20px;
  font-family: Monaco serif;
  background-color: #bbb6b6;
  line-height: 1.5;
}

div {
  margin-bottom: 30px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0px 0px 20px 0px;

}

a {
  display: inline-block;

  color: gray;
  list-style: none;
  margin: 0;


}

a:hover,
a:focus {
  color: tomato;

}

.links {
  display: block;
  margin: 0;
  padding: 15px;
}

.btn {
  margin: 10px;
  display: inline-box;
  padding: 12px 32px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  font-size: inherit;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .15);

  text-align: center;


}

.btn:hover {
  transition: background-color 500ms ease;
  background-color: #1976d2;
}

.btn:active {
  transition: background-color 100ms ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, .15);
  background-color: #2196f3;
}

.btn:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

p {

  padding-left: 40px;
  padding-right: 40px;
  padding: 20px;
  margin-bottom: 20px;

}

ul,
li,
ol,
a {
  padding: 5px;
  text-decoration: none;
  margin-bottom: 20px;
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;

  padding: 0 170px 170px 170px;
  background-color: #f9f9fd;
  text-align: left;

  border-radius: 8px;
}

.title {
  padding: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.warning {
  color: #fff;
  border-radius: 8px;
  background-color: tomato;
  padding-left: 40px;

  box-shadow: 3px 5px 4px 1px rgba(0, 0, 0, 0.3);
  padding-right: 40px;

}

.information {
  margin-top: 20px;

  padding-left: 40px;
  padding-right: 40px;
  width: 1260px;
  display: inline-block;

  margin-left: auto;
  margin-right: auto;

  border-radius: 8px;
  color: white;
  box-shadow: 2px 5px 4px 1px rgba(0, 0, 0, 0.3);
  background-color: rgb(66, 66, 66);

}

.img {
  display: inline-block;
  /* width: 600px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

}

.bg {
  padding: 20px;
  width: 1260px;
  display: block;
  background-color: #dfdfdf;
  border-radius: 8px;
  margin: 0px 0px 20px 0px;
  box-shadow: 2px 5px 4px 1px rgba(0, 0, 0, 0.3);
  z-index: 9;
}

/* ======== form ============ */

form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 20px;
}

label {

  display: flex;
  flex-direction: column;

}

select {
  margin-bottom: 20px;
}

.label {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

input {
  display: flex;
  padding: 4px;

}

textarea {
  resize: none;
  /* resize: both;
  resize: horizontal;
  resize: vertical; */
}

/* ===| /form |=== */

.form-input:checked {
  outline: 2px solid #2196f3;
  outline-offset: 2px;
}

.form-input:checked+.form-label {
  color: #2196f3;
}

.form {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

}

.form-caption {
  margin: 0;
  font-weight: 700;
}

.form-field {
  display: flex;
  align-items: center;
  gap: 4px;
}

.form-label {
  margin-bottom: 8px;
  cursor: pointer;
}

/* ================================= */
.form-input:in-range {
  border-color: #4caf50;
}

.form-input:out-of-range {
  border-color: #f44336;
}


.form-input {
  padding: 8px;
  border: 1px solid #2a2a2a;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 16px;
  outline: none;
}

/* ================================= */
.form-input:required {
  border-color: #f44336;
}




/* ================================= */
.form-input:valid {
  border-color: #4caf50;
}

.form-input:invalid {
  border-color: #f44336;
}

/* ================================= */
.form-input:placeholder-shown {
  border-color: blue;
}

/* ================================= */
.form-input:not(:placeholder-shown):required:valid {
  border-color: green;
}

.form-input:not(:placeholder-shown):required:invalid {
  border-color: red;
}

/* ================================= */
.form-dash {
  width: 100%;
  padding: 24px;
  border-radius: 4px;
  border: 4px dashed #2a2a2a;
}

.form-dash:focus-within {
  border-color: #2196f3;
}

.form-label:focus-within {
  color: #2196f3;
}

/* ================================= */
.text-field {
  margin: 20px 0 0 20px;
}

.text-field__input:disabled,
.text-field__input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: inherit;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  /* border-radius: 0.25rem; */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  outline: none;
  border: none;
}

.text-field__input:active,
.text-field__input:hover,
.text-field__input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);

}

::placeholder {

  color: #b97221;
}

/* ================================= */